
.activeBtn {
    
}

body {
    background-color: #F8F9FC;
}

.divider {
    border-top: 1px solid rgba(255, 255, 255, 0.795);
    width: 80%;
    margin-left: 10%;
}

.sideNav {
    margin-left: 10%;
    color: white;
}

.sideNavItem {
    color: rgb(235, 235, 235);
}

.leftMenu {
    /* padding-top: 10px; */
}
.brand {
    padding-top: 10px;
    font-size: 30px;
    margin-left: 20%;
}
.gradient-custom {
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
    background-size: cover;
    width: 25vh;
    height: 100vh;
    position: fixed;
    z-index: 1;
  }