html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #486EDB;
    color: #4d4d4d;
}


.container {
  margin-top: 40vh;
}

/* LOGIN STYLES */

.loginDiv {
  margin-top: 30vh;
}

.loginContainer {
  width: 55vw;
	margin-top: 10vh;
	background-color: #fff;
	box-shadow: 0 0 20px 1px #404040;
  padding: 15px;
}

.loginBtn {
  margin-top: 15px;
}

.loginSpace {
  margin-top: 10px;
}

.loginForm {

}

.loginImg {

}